body{
  min-width: 201px;
}
.container{
  width: 100%;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(254, 80, 0, 0.267);
  border-radius: 5px;
}
.container h3{
  color:#dc3545;
  text-shadow: 1px 3px 5px rgba(87, 85, 86, 0.514);
}
img{
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 0.5em;
  max-width: 696px;
  max-height: auto;
  
  
}
.container img{
  box-shadow:8px 6px 10px 0 rgba(0,0,0,0.5);
}
.info{
  text-align: center;
}

@media (max-width : 768px) {
  .container {
  }
  img {
    width: 100%;
    height: auto;
    
  }

  .info p {
    display: none;
  }
}
@media (max-width: 569px){
  .info h3 {
    text-overflow : ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.sep {
  border-top: 6px solid #dc3545;;
  border-radius: 5px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  
}
footer{
  white-space: wrap;
  color:aliceblue;
  height:400px;
  background-color:rgb(45, 52, 56);
  padding: 30px;
}
footer img{
  height: 100px;
  width: 200px;
  display: block;
  
}
footer a{
  text-decoration: none;
}
.adress{
  display: inline;
}